{% extends 'core/base.html' %}

{% load static %}

{% block content %}

    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          	<h2 class="subheading" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Bem vindo, estamos aqui para ajudar!</h2>
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            	<span>Empreendimento</span> . <span>Negócio</span> . <span>Vagas!</span>
            </h1>
            <p><a href="{% url 'profissional:index' %}" class="btn btn-primary py-3 px-4">Começe a procurar agora mesmo!</a></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb services-section">
      <div class="container">
        <div class="row no-gutters d-flex">
          <div class="col-md-4 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="flaticon-001-seed"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="#">Oportunidades de emprego</a></h3>
              <p>Encontre oportunidades de emprego de acordo com o seu perfil profissional.</p>
            </div>
          </div>
          <div class="col-md-4 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="flaticon-008-farm"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="{% url 'profissional:index' %}">Desenvolvimento sustentável</a></h3>
              <p>A Controle preconiza o emprego de práticas agroecológicas, promovendo uma agricultura sustentável.</p>
            </div>
          </div>
          <div class="col-md-4 text-center services align-self-stretch ftco-animate p-4">
            <div class="icon"><span class="flaticon-015-axe"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3"><a href="{% url 'profissional:index' %}">Facilidade para o produtor</a></h3>
              <p>Na Controle o produtor encontra o profissional ideal para as suas necessidades.</p>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          		<div class="col-md-7 text-center heading-section ftco-animate">
          			<span class="subheading">Áreas de Atuação</span>
            		<h2 class="mb-4">Áreas de Atuação</h2>
          		</div>
        	</div>
			<div class="row d-flex justify-content-center">
				<div class="col-md-3 col-lg-2 text-center">
					<div class="practice-area ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-050-bee"></span>
						</div>
						<h3><a href="#">Controle Biológico</a></h3>
					</div>
				</div>
				<div class="col-md-3 col-lg-2 text-center">
					<div class="practice-area ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-048-plant"></span>
						</div>
						<h3><a href="#">Práticas Conservacionistas do Solo</a></h3>
					</div>
				</div>
				<div class="col-md-3 col-lg-2 text-center">
					<div class="practice-area ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-041-irrigation"></span>
						</div>
						<h3><a href="#">Sistemas de Irrigação</a></h3>
					</div>
				</div>
				<div class="col-md-3 col-lg-2 text-center">
					<div class="practice-area ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-031-insect"></span>
						</div>
						<h3><a href="#">Manejo Integrado de Pragas</a></h3>
					</div>
				</div>
				<div class="col-md-3 col-lg-2 text-center">
					<div class="practice-area ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-045-tomato"></span>
						</div>
						<h3><a href="#">Manejo de Culturas</a></h3>
					</div>
				</div>
			</div>
    	</div>
    </section>

    <section class="ftco-section bg-secondary">
    	<div class="container-fluid">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">Alguns dos profissionais cadastrados!</span>
            <h2 class="mb-4">Tenha uma prévia</h2>
          </div>
        </div>

        <div class="row">

			{% for prof in profis %}
				<div class="col-lg-3 col-sm-6">
					<div class="block-2 ftco-animate">
					<div class="flipper">
					  <div class="front" style="background-image: url({% static 'images/person_1.jpg' %});">
						<div class="box">
						  <h2>{{prof.user.first_name}} {{prof.user.last_name}}</h2>
						  <p>{{prof.categoria}}</p>
						</div>
					  </div>
					  <div class="back">
						<!-- back content -->
						<blockquote>
						  <p>{{prof.observacao}}</p>
						</blockquote>
						<div class="author d-flex">
						  <div class="image mr-3 align-self-center">
							<img src="{% static 'images/person_1.jpg' %}" alt="">
						  </div>
						  <div class="name align-self-center">{{prof.user.first_name}} {{prof.user.last_name}} <span class="position">{{prof.categoria}}</span></div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			{% endfor %}
        </div>
    	</div>
    </section>
{% endblock %}