{% extends 'profissional/base_prof.html' %}
{% load static %}

{% block prof_content %}

<div class="col-lg-8 order-md-last ftco-animate">
    <div>
      <h1>Detalhes</h1>
      <div class="container-fluid">
          <div class="mediadetalhe col-4 center">
              <img class="mr-3 img-fluid rounded-circle" src="/media/{{prof.foto}}">
          </div>
          <div>{{prof.user.first_name}}</div>
          <div>{{prof.categoria}}</div>
          <div>{{prof.valor_hora}}</div>
          <div>{{prof.observacao}}</div>
          <div>{{prof.descricao}}</div>
      </div>
    </div>
</div>

{% endblock %}