{% extends 'profissional/base_prof.html' %}

{% block prof_content %}
<div class="col-lg-8 order-md-last ftco-animate">
<div>
  <h1>Profissionais</h1>
  <div class="container-fluid">
    {% for prof in queryset %}

    <div class="row borda-div-prof">
<!--                    <div class="col-12 col-md-2">.col-12 .col-md-8</div>-->
<!--                    <div class="col-6 col-md-10"></div>-->

      <div class="col-sm-9">
        <div class="row">
          <div class="col-3 col-sm-3 ">
            <div class="media" >
              <img class="mr-3 img-fluid rounded-circle" src="/media/{{prof.foto}}" alt="Generic placeholder image">
            </div>
          </div>
          <div class="col-9 col-sm-9">
            <a class="" href="{% url 'profissional:detalhe' pk=prof.pk %}"><h4>{{ prof.user.first_name}}</h4></a>
            <p>{{ prof.categoria }}</p>
            {% if prof.sn_consultor %}
              <label>Consultor</label>
              <p>R${{prof.valor_hora }}</p>
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    {% empty %}
    {% endfor %}
  </div>

<!--              <ul>-->
<!--              {% for prof in object_list %}-->
<!--                <li>{{ prof.user.first_name }}</li>-->
<!--                <li> {{ prof.user.email }}</li>-->
<!--                {% empty %}-->
<!--                  <li>Fim</li>-->
<!--              {% endfor %}-->
<!--              </ul>-->

</div>

</div> <!-- .col-md-8 -->
{% endblock %}