@font-face {
  font-family: "Flaticon";
  src: url("../flaticon/font/Flaticon.eot");
  src: url("../flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../flaticon/font/Flaticon.woff2") format("woff2"),
       url("../flaticon/font/Flaticon.woff") format("woff"),
       url("../flaticon/font/Flaticon.ttf") format("truetype"),
       url("../flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-001-seed:before { content: "\f100"; }
.flaticon-002-seed:before { content: "\f101"; }
.flaticon-003-onion:before { content: "\f102"; }
.flaticon-004-horseshoe:before { content: "\f103"; }
.flaticon-005-sun:before { content: "\f104"; }
.flaticon-006-sunflower:before { content: "\f105"; }
.flaticon-007-wheat:before { content: "\f106"; }
.flaticon-008-farm:before { content: "\f107"; }
.flaticon-009-milk:before { content: "\f108"; }
.flaticon-010-boot:before { content: "\f109"; }
.flaticon-011-water-well:before { content: "\f10a"; }
.flaticon-012-shovel:before { content: "\f10b"; }
.flaticon-013-rake:before { content: "\f10c"; }
.flaticon-014-hat:before { content: "\f10d"; }
.flaticon-015-axe:before { content: "\f10e"; }
.flaticon-016-strainer:before { content: "\f10f"; }
.flaticon-017-barrel:before { content: "\f110"; }
.flaticon-018-windmill:before { content: "\f111"; }
.flaticon-019-tree:before { content: "\f112"; }
.flaticon-020-hose:before { content: "\f113"; }
.flaticon-021-trowel:before { content: "\f114"; }
.flaticon-022-bucket:before { content: "\f115"; }
.flaticon-023-egg:before { content: "\f116"; }
.flaticon-024-tractor:before { content: "\f117"; }
.flaticon-025-shears:before { content: "\f118"; }
.flaticon-026-watering-can:before { content: "\f119"; }
.flaticon-027-beans:before { content: "\f11a"; }
.flaticon-028-scythe:before { content: "\f11b"; }
.flaticon-029-spray:before { content: "\f11c"; }
.flaticon-030-mushroom:before { content: "\f11d"; }
.flaticon-031-insect:before { content: "\f11e"; }
.flaticon-032-sprinkle:before { content: "\f11f"; }
.flaticon-033-snow:before { content: "\f120"; }
.flaticon-034-carrot:before { content: "\f121"; }
.flaticon-035-saw:before { content: "\f122"; }
.flaticon-036-honey:before { content: "\f123"; }
.flaticon-037-leaf-blower:before { content: "\f124"; }
.flaticon-038-fence:before { content: "\f125"; }
.flaticon-039-nut:before { content: "\f126"; }
.flaticon-040-temperature:before { content: "\f127"; }
.flaticon-041-irrigation:before { content: "\f128"; }
.flaticon-042-silo:before { content: "\f129"; }
.flaticon-043-watermelon:before { content: "\f12a"; }
.flaticon-044-fertilizer:before { content: "\f12b"; }
.flaticon-045-tomato:before { content: "\f12c"; }
.flaticon-046-honey:before { content: "\f12d"; }
.flaticon-047-pumpkin:before { content: "\f12e"; }
.flaticon-048-plant:before { content: "\f12f"; }
.flaticon-049-rain:before { content: "\f130"; }
.flaticon-050-bee:before { content: "\f131"; }